.help-head-core
{
    height: 20%;
    width: 30%;
    gap: 25px;
}

.help-title
{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-family: "inter-Bold";
    text-align: center;
    
}

.help-desc
{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    color: rgba(200, 200, 200, 0.8);
    text-align: center;
}

.help-content-core
{
    height: 80%;
    width: 60%;
}

.help-content-core
{
    height: 70%;
    width: 100%;
}

.help-content
{
    width: 40%;
    height: 20%;
}

.help-content-title-core
{
    width: 40%;
    height: 40%;
    justify-content: center;
}

.help-content-title
{
    height: 100%;
    width: 100%;
    border-radius: 22px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    font-family: "inter-Bold";
    border: 0;
    background-size: 100% 4px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    border-radius: 22px;
    
}

.help-content-title-core-end { margin-right: calc(20% - 30px);}

.help-title-left { margin-left: 15px;}
.help-title-right { margin-right: 15px;}

.help-content-bullet
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0;
}

.help-border-p1 
{
    border-right: 5px solid rgba(63, 232, 207, 0.8);
    border-left: 5px solid rgb(108, 216, 252, 0.8);
    background-image: linear-gradient(90deg, rgb(108, 216, 252), rgb(63, 232, 207)), linear-gradient(90deg, rgb(108, 216, 252), rgb(63, 232, 207));
}

.help-border-p2
{
    border-right: 5px solid rgb(60, 163, 253, 0.8);
    border-left: 5px solid rgba(63, 232, 207, 0.8);
    background-image: linear-gradient(90deg, rgb(63, 232, 207), rgb(60, 163, 253)), linear-gradient(90deg, rgb(63, 232, 207), rgb(60, 163, 253));
}

.help-border-p3
{
    border-right: 5px solid rgba(55, 85, 252, 0.8);
    border-left: 5px solid rgb(60, 163, 253, 0.8);
    background-image: linear-gradient(90deg, rgb(60, 163, 253), rgb(55, 85, 252)), linear-gradient(90deg, rgb(60, 163, 253), rgb(55, 85, 252));
} 

.help-border-p4
{
    border-right: 5px solid rgba(157, 55, 252, 0.8);
    border-left: 5px solid rgb(55, 85, 252, 0.8);
    background-image: linear-gradient(90deg, rgb(55, 85, 252), rgb(157, 55, 252)), linear-gradient(90deg, rgb(55, 85, 252), rgb(157, 55, 252));
}

.help-border-p5
{
    border-right: 5px solid rgba(222, 45, 242, 0.8);
    border-left: 5px solid rgb(157, 55, 252, 0.8);
    background-image: linear-gradient(90deg, rgb(157, 55, 252), rgb(222, 45, 242)), linear-gradient(90deg, rgb(157, 55, 252), rgb(222, 45, 242));
}

.bullet-p1 { background: linear-gradient(120deg, rgb(108, 216, 252), rgb(63, 232, 207)) }
.bullet-p2 { background: linear-gradient(120deg, rgb(63, 232, 207), rgb(60, 163, 253)) }
.bullet-p3 { background: linear-gradient(120deg, rgb(60, 163, 253), rgb(55, 85, 252)) }
.bullet-p4 { background: linear-gradient(120deg, rgb(55, 85, 252), rgb(157, 55, 252)) }


.help-content-border
{
    height: 100%;
    width: calc(60% - 45px);
    align-items: flex-end;
}

.help-content-border-p1
{
    height: 50%;
    width: 65%;
    border-radius: 0 24px 0 0;
    background: transparent !important;
    border: 0;
    border-top: 5px solid rgb(63, 232, 207);
    border-right: 5px solid rgb(63, 232, 207);
    box-shadow:3px -3px 5px -5px white;
}

.help-content-border-p2
{
    height: 50%;
    width: 65%;
    border-top: 5px solid rgb(108, 216, 252);
    border-left: 5px solid rgb(108, 216, 252);
    border-radius: 24px 0 0 0;
    box-shadow:-3px -3px 5px -5px white;
}

.help-content-border-p3
{
    height: 50%;
    width: 65%;
    border-top: 5px solid rgb(60, 163, 253);
    border-right: 5px solid rgb(60, 163, 253);
    border-radius: 0 24px 0 0;
    box-shadow:3px -3px 5px -5px white;
}

.help-content-border-p4
{
    height: 50%;
    width: 20%;
    border-top: 5px solid rgb(55, 85, 252);
    border-left: 5px solid rgb(55, 85, 252);
    border-radius: 24px 0 0 0;
    box-shadow:-3px -3px 5px -5px white;
}
