.roadmap-core
{
    justify-content: space-evenly;
}

.roadmap-head-core
{
    height: 15%;
    width: 40%;
    gap: 25px;
    align-items: center;
}

.roadmap-title
{
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    font-family: "inter-Bold";
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, .4), -2px -2px 4px rgba(255, 255, 255, .4);
}

.roadmap-desc
{
    margin: 0;
    font-size: 20px;
    font-weight: 900;
    color: rgba(200, 200, 200, 0.8);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, .4), -1px -1px 2px rgba(255, 255, 255, .4);
}

.roadmap-content-core
{
    height: 40%;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    gap: 25px
}

/* .roadmap-content-core > * {flex: 1;} */

.roadmap-content
{
    width: 70%;
}

.roadmap-content-title
{
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    font-family: "inter-Bold";
    text-align: start;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, .4), -2px -2px 4px rgba(255, 255, 255, .4);
}

.roadmap-content-desc
{
    margin: 0;
    width: 90%;
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    color: rgba(200, 200, 200, 0.8);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, .4), -1px -1px 2px rgba(255, 255, 255, .4);
}