/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.roadmap-core
{
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    overflow: initial;
}

.roadmap-head-core
{
    height: 15%;
    width: 40%;
    gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.roadmap-title
{
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    font-family: "inter-Bold";
    text-align: center;
    
}

.roadmap-desc
{
    margin: 0;
    font-size: 20px;
    font-weight: 900;
    color: rgba(200, 200, 200, 0.8);
    text-align: center;
    
}

.roadmap-content-core
{
    height: 50%;
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 25px
}

/* .roadmap-content-core > * {flex: 1;} */

.roadmap-content
{
    width: 70%;
}

.roadmap-content-title
{
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    font-family: "inter-Bold";
    text-align: start;
    font-style: italic;
    
}

.roadmap-content-desc
{
    margin: 0;
    width: 90%;
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    color: rgba(200, 200, 200, 0.8);
    
}

.roadmap-badges-grey
{
    position: absolute;
    height: 70%;
    top: -50%;
    left: -10%;
    -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
            transform: rotate(-20deg);
    width: 30%;
}

.roadmap-badges-img
{
    position: relative;
    height: 100%;
    width: 100%;
    -o-object-fit: none;
       object-fit: none;
}