/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "inter-Regular";
  src: local("inter-Regular"),
   url(assets/font/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "inter-Bold";
  src: local("inter-Bold"),
   url(assets/font/Inter-Bold.ttf) format("truetype");
}


body 
{
    margin: 0;
    font-family: 'inter-Regular';
}


.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
.row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.right { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.left { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
.h1 { margin: 0; }
.text-pink { color: #F581FF !important; }

button
{
  padding: 0;
  margin: 0;
  border: 0;
}

.button:hover{ -webkit-transform: scale(0.95, 0.95); -ms-transform: scale(0.95, 0.95); transform: scale(0.95, 0.95); }