/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#root
{
  height: 100vh;
  width: 100%;
  background: black;
  color: white;
  
}

.home 
{
  position: relative;
  height: 100%;
  width: 100%;
  background: black;
  overflow-x: hidden;

}


.home-background-p1
{
  position: absolute;
  width: 797px;
  height: 912px;
  left: 80%;
  top: -38px;
  z-index: 100;
}

.background-rect-p1
{
  position: absolute;
  width: 289.73px;
  height: 411.07px;
  left: 326.63px;
  top: 351.84px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 75, 255, 0)), to(#174AFF));
  background: -o-linear-gradient(top, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.background-texture-p1
{
  position: absolute;
  width: 797px;
  height: 912px;
  left: 73px;
  top: -38px;
  background: rgba(24, 75, 255, 0.4);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.background-circle-p1
{
  position: absolute;
  width: 603px;
  height: 603px;
  left: 170px;
  top: 73.14px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 194, 255, 0)), to(#FF29C3));
  background: -o-linear-gradient(top, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}


.home-background-p2
{
  position: absolute;
  width: 749.4px;
  height: 856.75px;
  right: 50%;
  bottom: -50%;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 100;

}

.background-rect-p2
{
  position: absolute;
  left: 49.97%;
  right: 22.44%;
  top: 14.93%;
  bottom: 38.66%;

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 255, 158, 0)), to(#17FFE3));

  background: -o-linear-gradient(top, rgba(24, 255, 158, 0) 0%, #17FFE3 100%);

  background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17FFE3 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.background-texture-p2
{
  position: absolute;
  left: 92.12%;
  top: -27.51%;
  bottom: -4.78%;
  mix-blend-mode: overlay;
  opacity: 0.7;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.background-circle-p2
{
  position: absolute;
  left: 64.89%;
  right: -22.32%;
  top: -16.54%;
  bottom: 48.45%;
  background: -webkit-gradient(linear, left top, left bottom, from(#173B80), to(#11573E));
  background: -o-linear-gradient(top, #173B80 0%, #11573E 100%);
  background: linear-gradient(180deg, #173B80 0%, #11573E 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}


.home-ellipse
{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; 
}

.ellipse
{
  border: 1px solid rgba(125, 125, 125, 0.6);
  border-radius: 50%;
  -webkit-transform: rotate(14.21deg);
      -ms-transform: rotate(14.21deg);
          transform: rotate(14.21deg);
  margin-right: 8%;
  margin-bottom: 5%;
}

.l1
{
  height: 50%;
  width: 60%;
}

.l2
{
  height: 70%;
  width: 80%;
}

.l3
{
  height: 90%;
  width: 100%;
}











.badges-background
{
  position: absolute;
  width: 20%;
  height: 30%;
  right: -10%;
  z-index: 10;
  bottom: 15%;
  z-index: 100;
}

.badges-rect
{
  position: absolute;
  width: 100%;
  height: 80%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 75, 255, 0)), to(#174AFF));
  background: -o-linear-gradient(top, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.badges-texture
{
  position: absolute;
  width: 100%;
  height: 90%;
  background: rgb(160 62 165);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.badges-circle
{
  position: absolute;
  width: 100%;
  height: 80%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 194, 255, 0)), to(#FF29C3));
  background: -o-linear-gradient(top, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}