@media only screen and (max-width: 660px) 
{
    .team-core { justify-content: center;}
    .team-head-core{ width: 90%; }
    .team-title { font-size: 30px; }
    .team-desc { font-size: 16px; }
    .team-content-core { height: 50%; }
    .team-content
    {
        height: 45%;
        width: 30%;
    }
    .team-content-title { font-size: 14px;}
    .team-content-desc 
    { 
        font-size: 12px;
        height: 30%;
    }
    .team-content-img
    {
        height: 80px;
        width: 80px;
    }
}

@media only screen and (max-width: 1250px) and (min-width: 661px)
{
    .team-content-title { font-size: 24px;}
    .team-content-desc 
    { 
        font-size: 20px;
        height: 30%;
    }
    .team-content-img
    {
        height: 110px;
        width: 110px;
    }
}


@media only screen and (max-width: 2560px) and (min-width: 1921px)
{
    .team-title { font-size: 40px;}
    .team-desc { font-size: 24px; }
}